<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
    </div>
    <div class="panel-body">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <label>{{description}}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="ok()">{{textbutton1}}</button>
            <button class="btn btn-primary" data-ng-click="cancel()">{{textbutton2}}</button>
        </div>

    </div>
</div>