<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=SQLSERVER1\NEWINSTANCE;Initial Catalog=SOMECOMPANY;Integrated Security=true" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Windows"></authentication>
        <identity impersonate="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpointBinding">
          <security mode="TransportCredentialOnly"></security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <!-- This section is optional with the default configuration
        model introduced in .NET Framework 4 -->

      <service name="ServicePagoAutomaticoManager.AdhesionService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" contract="ServicePagoAutomaticoManager.IAdhesionService" />

      </service>
      <service name="ServicePagoAutomaticoManager.CambioService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" contract="ServicePagoAutomaticoManager.ICambioService" />

      </service>
      <service name="ServicePagoAutomaticoManager.ClienteService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpointBinding" contract="ServicePagoAutomaticoManager.IClienteService" />

      </service>
      <service name="ServicePagoAutomaticoManager.ParametriaService">
        <endpoint binding="basicHttpBinding" 
                  bindingConfiguration="BasicHttpEndpointBinding" 
                  contract="ServicePagoAutomaticoManager.IParametriaService" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!-- Agregue el siguiente elemento a la configuración del comportamiento del servicio. -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
	  <validation validateIntegratedModeConfiguration="false" />
    
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
